<div class="container">
  <form  [formGroup]="parentFormGroup">
    <app-names
      [names]="state.names"
      [nameFormArray]="parentFormGroup.controls.name"
      [isValidationRequired]="isValidationRequired">
    </app-names>
    <br>
    <app-address
      [addressFormArray]="parentFormGroup.controls.address"
      [address]="state.address"
      [isValidationRequired]="isValidationRequired">
    </app-address>
    <br>
    <button class="btn btn-primary" [disabled]="parentFormGroup.invalid"
            (click)="onClicked()">Speichern
    </button>
  </form>
  <br>
  <button class="btn btn-primary"
          (click)="onToggleValidationClicked()">Toggle Validation
  </button>
</div>
