<div class="container">
  <form  *ngIf="parentFormGroup" [formGroup]="parentFormGroup">
    <app-names
      [names]="state.names"
      [parentFormGroup]="parentFormGroup"
      [isValidationRequired]="isValidationRequired">
    </app-names>
    <br>
    <app-address
      [parentFormGroup]="parentFormGroup"
      [address]="state.address"
      [isValidationRequired]="isValidationRequired">
    </app-address>
    <br>
    <button class="btn btn-primary" [disabled]="this.parentFormGroup.invalid"
            (click)="onClicked()">Speichern
    </button>
  </form>
  <br>
  <button class="btn btn-primary"
          (click)="onToggleValidationClicked()">Toggle Validation
  </button>
</div>
